# neutron.conf
[DEFAULT]
# ...
core_plugin = ml2
service_plugins =
transport_url = rabbit://openstack:{{ rabbit_password }}@192.168.56.102
auth_strategy = keystone

[database]
# ...
connection = mysql+pymysql://neutron:{{ neutron_db_password }}@192.168.56.102/neutron

[keystone_authtoken]
# ...
www_authenticate_uri = http://192.168.56.102:5000
auth_url = http://192.168.56.102:5000
memcached_servers = 192.168.56.102:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = neutron
password = {{ neutron_user_password }}

[nova]
# ...
auth_url = http://192.168.56.102:5000
auth_type = password
project_domain_name = Default
user_domain_name = Default
region_name = RegionOne
project_name = service
username = nova
password = {{ nova_password }}

[DEFAULT]
# ...
notify_nova_on_port_status_changes = true
notify_nova_on_port_data_changes = true

