# cinder.conf
[DEFAULT]
# ...
transport_url = rabbit://openstack:{{ rabbit_password }}@192.168.56.102
auth_strategy = keystone
my_ip = 192.168.56.102

[database]
# ...
connection = mysql+pymysql://cinder:cinder@192.168.56.102/cinder

[keystone_authtoken]
# ...
www_authenticate_uri = http://192.168.56.102:5000
auth_url = http://192.168.56.102:5000
memcached_servers = 192.168.56.102:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = cinder
password = {{ cinder_user_password }}

[oslo_concurrency]
# ...
lock_path = /var/lib/cinder/tmp

